@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.size-title {
    font-weight:600;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}

.size-price {
    font-weight:600;
    letter-spacing:1px;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}

.circle-empty {
    position: absolute;
    right: 10px;
    top: 10px; 
    width: 22px; 
    height: 22px;  
    border: 3px solid rgb(59 130 246); 
    border-radius: 50%;
}

.circle-full {
    position: absolute;
    top: 10px;
    right: 10px;  
    width: 22px;  
    height: 22px;  
    background-color: rgb(59 130 246); 
    border-radius: 50%;
  }